*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //outline: 1px solid red;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#name{
    color: rgb(255, 163, 58);
}
#clock{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 3rem;
    letter-spacing: 5px;
    color: rgb(238, 238, 238);
    text-shadow: 0 5px 15px black;
}
#icon{
    width: 100px;
    height: 100px;
    
}
form{
    input{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 20px;
        padding: 10px;
        width: 600px;
        background: rgba(51, 51, 51, 0.048);
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        color: rgb(238, 238, 238);
        text-shadow: 0 5px 15px black;
        &::placeholder{
            color: rgba(255, 255, 255, 0.479);
            text-align: center;
            letter-spacing: 15px;
            font-weight: bold;
            font-size: 1.3rem;
            text-shadow: 0 5px 15px black;
            text-transform: uppercase;
        }
    }
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
    padding-top: 400px;
    margin-bottom: 30px;
    text-shadow: 0 5px 15px black;

}


//Weather app

.container{
    width: 300px;
    background: rgba(255, 255, 255, 0);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .app-title{
        width: 300px;
        height: 50px;
        border-radius: 10px 10px 0 0;
        p{
            text-align: center;
            padding: 15px;
            margin: 0 auto;
            font-size: 1.8rem;
            color: rgb(238, 238, 238);
            text-shadow: 0 5px 15px black;
        }
    }
    .notification{
        background-color: #f8d7da;
        display: none;
        p{
            color: rgb(238, 238, 238);
            font-size: 1.2em;
            margin: 0;
            text-align: center;
            padding: 10px 0;   
        }
    }
    .weather-container{
        width: 300px;
        height: 260px;
        background-color: rgba(244, 249, 255, 0);
        .weather-icon{
            width: 300px;
            height: 128px;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .temperature-value{
            width: 300px;
            height:60px;
            p{
                padding: 0;
                margin: 0;
                color: rgb(238, 238, 238);
                text-shadow: 0 5px 15px black;
                font-size: 4em;
                text-align: center;
                cursor: pointer;
            }
        }
        .temperature-description p{
            padding: 8px;
            margin: 0;
            color: rgb(238, 238, 238);
            text-shadow: 0 5px 15px black;
            text-align: center;
            font-size: 1.2em;
        }
        .location p{
        margin: 0;
        padding: 0;
        color: rgb(238, 238, 238);
        text-shadow: 0 5px 15px black;
        text-align: center;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bolder;
        }
    }
}